.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
  width: 100vw;
}

.projects {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}

.projects:hover > a:not(:hover) {
  filter: blur(3px);
  opacity: 0.9;
}
