.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(8vw + 200px);
  aspect-ratio: 1/1.1;
  border-radius: 20px;
  transition: 300ms ease-in-out;
}
.project-card:hover {
  transform: scale(1.08);
}
.project-image {
  flex: 1.5;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.project-year {
  display: flex;
  flex-direction: row;
  height: calc(3.2vw + 10px);
  aspect-ratio: 1/1;
  position: absolute;
  top: calc((((8vw + 200px) * 1.1) - (0.7vw)) / 2);
  right: 10px;
  border-radius: 50px;
  justify-content: center;
  align-items: center !important;
}

.project-image > img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
}

.project-info {
  flex: 1;
  width: 100%;
  padding: 10px 10px;
  border-radius: 0 0 20px 20px;
}

.project-title {
  font-size: calc(1vw + 6px);
  margin: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ec21bd, #2458dc);
}

.pro-year {
  font-size: calc(0.7vw + 6px);
  margin: 0px;
}
