.stack-pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 2px 12px;
  border: 1px solid grey;
  border-radius: 15px;
}

.stack-name {
  margin: 0px;
  font-size: 12px;
}
