.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 90%;
    gap: 50px;
    flex: 50%;
}

.profile-pic {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: calc(28vw + 150px);
    width: calc(28vw + 150px);
    
}

.profile-background {
    height: 92%;
    width: 92%;
    background-image: url('../../../../Assets/profile.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: none;
    background-position: center;   
}

.profile-background:hover {
    transform: scale(1.092);
    transition: 1s ease-in-out;
}


.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.buttons {
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 50px;
}

.buttons .resume-btn {
    width: 10.2em;
    height: 2.8em;
    border-width: 2px; 
    color: #212529;
    border-color: #369bdd;
    border-radius: 50px;
    background-color: #369bdd;
    transition: .05 ease-in-out;
}

.buttons .contact-btn {
    width: 10.2em;
    height: 2.8em;
    border-color: #f61be0;
    border-radius: 50px;
    color:#f61be0;
    border-width: 2px; 
}

.buttons .resume-btn:hover {
    background: transparent;
    color: #369bdd !important;

}

.buttons .contact-btn:hover {
    background: #f61be0;
    
}

.buttons .contact-btn:active {
    border-color: #f61be0;
}

.buttons .resume-btn:active {
    border-color: #369bdd;
    background-color: transparent;
    color: #369bdd !important;
}


  .funky-name {
    font-family: Rubik Vinyl;
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent;
    background-image: linear-gradient(to right, #369bdd, #dc24ab);
  }

.profile-tagline {
    font-family: Roboco Slab;
    font-size: calc(1vw + 8px);
}
.profile b {
    font-size: calc(4vw + 12px);
}
.profile-tagline strong {
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent;
    background-image: linear-gradient(to right, #dc12a3, #106ecc);
    font-size: calc(2vw + 6px);
}

.link i{
    margin: 15px;
    font-size: calc(2vw + 8px);
    padding: 8px;
}


.link {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.link:hover {
    transform: scale(1.2);
    
  }

.line {
    width: calc(20vw + 150px);
    border-width: 3px;
}

.breaker {
    height: 100px; 
    width: 100%;
    background-color: rgb(31, 28, 28);;
}

@media  screen and (max-width: 1110px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 10px;
    }
    .profile-pic {
        min-width: 450px;
        min-height: 450px;
        width: calc(50vw + 150px);
        height: calc(50vw + 150px);
    }
    .profile-background{
        width: 92%;
        height: 92%;
    }
    .profile-tagline {
        font-size: calc(3vw + 8px);
    }
    .profile b {
        font-size: calc(8vw + 12px);
    }
    .profile-tagline strong {
        font-size: calc(4vw + 8px);
    }
    .btn-about-me {
        width: calc(22vw + 50px);
        height: calc(2vw + 45px);
        line-height: calc(2vw + 45px);
        font-size: calc(0.2vw + 18px);
        text-align: center;
        
    }
    .rainbow-hover {
        width: calc(22vw + 50px);
        height: calc(2vw + 45px);
        line-height: calc(2vw + 45px);
        font-size: calc(0.2vw + 18px);
        text-align: center;
    }
    .buttons{
        gap: calc(3vw + 40px);
        margin-top: 50px;
        
    }
    .link i{
        font-size: calc(2vw + 30px);
        margin: 20px;
    }
    .line {
        width: calc(50vw + 100px);
    }
}


@media screen and (max-width:450px) {

    @media (orientation: portrait) {
        .profile-container {
            margin-top: 100px;
        }
        .profile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .profile-pic {
            min-width: 250px;
            min-height: 250px;
            width: 80vw;
            height: 80vw;
            
        }
        .link i{
            margin-right: 5px !important;
            
        }
        .profile-info {
            margin-top: 20px;
        }
        .profile b {
            font-size: calc(8vw + 10px);
        }
        .profile-tagline strong {
            font-size: calc(3vw + 8px);
        }
        .btn-about-me {
            width: calc(30vw + 50px);
            height: calc(2vw + 45px);
            line-height: calc(2vw + 45px);
            min-width: 160px;
            font-size: calc(0.4vw + 14px);
            text-align: center; 
        }
        .btn-about-me > svg {
            width: 28px;
        }
        .rainbow-hover {
            width: calc(30vw + 50px);
            height: calc(2vw + 45px);
            line-height: calc(2vw + 45px);
            min-width: 160px;
            font-size: calc(0.4vw + 14px);
            text-align: center;
        }
        .buttons{
            margin-top: 40px;
            gap: 15px;
            margin-bottom: 20px;
        }
        .link i{
            font-size: calc(2vw + 30px);
        }
        .line {
            width: calc(80vw + 40px);
        }
    }
   
    
}

