.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 90%;
    gap: 50px;
    flex: 50%;
}

.profile-pic {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: calc(28vw + 150px);
    width: calc(28vw + 150px);
    
}

.profile-background {
    height: 92%;
    width: 92%;
    background-image: url('../../../../Assets/profile.png');
    background-size: cover;
    border-radius: 50%;
    background-repeat: none;
    background-position: center;   
}

.profile-background:hover {
    transform: scale(1.092);
    transition: 1s ease-in-out;
}


.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 10px;
}

.buttons {
    width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 50px;
}


.rainbow-hover {
    font-size: calc(0.2vw + 14px);
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: #cfef00;
    background-color: #2B3044;
    cursor: pointer;
    width: calc(10vw + 26px);
    height: calc(2vw + 20px);
    line-height: calc(2vw + 20px);
    min-width: 190px;
    min-height: 50px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px)
      rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
  }
  
  
  .rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
  }

  .btn-about-me {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    width: calc(10vw + 26px);
    height: calc(2vw + 20px);
    line-height: calc(2vw + 20px);;
    min-width: 190px;
    min-height: 50px;
    border-radius: 10px;
    background: #cfef00;
    box-shadow: 2px 5px 5px #5a6702;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.2vw + 14px);
  }

  .btn-about-me span {
    color: #2B3044;
  }
  
  .btn-about-me:hover {
    background: #c4e201;
  }
  
  .btn-about-me > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .btn-about-me:hover svg {
    transform: translateX(7px);
  }
  
  .btn-about-me:active {
    transform: scale(0.95);
  }

  .funky-name {
    font-family: Rubik Vinyl;
  }

.profile-tagline {
    font-family: Roboco Slab;
    font-size: calc(1vw + 8px);
}
.profile b {
    font-size: calc(4vw + 12px);
}
.profile-tagline strong {
    font-size: calc(2vw + 6px);
}

.link i{
    margin: 15px;
    font-size: calc(2vw + 8px);
    padding: 8px;
}

.link i:hover {
    color: #46a3e2 !important;
}


.link {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.link:hover {
    transform: scale(1.2);
    
  }

.line {
    width: calc(20vw + 150px);
    border-width: 3px;
}

.breaker {
    height: 100px; 
    width: 100%;
    background-color: rgb(31, 28, 28);;
}

@media  screen and (max-width: 1110px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 10px;
    }
    .profile-pic {
        min-width: 450px;
        min-height: 450px;
        width: calc(50vw + 150px);
        height: calc(50vw + 150px);
    }
    .profile-background{
        width: 93%;
        height: 93%;
    }
    .profile-tagline {
        font-size: calc(3vw + 8px);
    }
    .profile b {
        font-size: calc(8vw + 12px);
    }
    .profile-tagline strong {
        font-size: calc(4vw + 8px);
    }
    .btn-about-me {
        width: calc(22vw + 50px);
        height: calc(2vw + 45px);
        line-height: calc(2vw + 45px);
        font-size: calc(0.2vw + 18px);
        text-align: center;
        
    }
    .rainbow-hover {
        width: calc(22vw + 50px);
        height: calc(2vw + 45px);
        line-height: calc(2vw + 45px);
        font-size: calc(0.2vw + 18px);
        text-align: center;
    }
    .buttons{
        gap: calc(3vw + 40px);
        margin-top: 50px;
        
    }
    .link i{
        font-size: calc(2vw + 30px);
        margin: 20px;
    }
    .line {
        width: calc(50vw + 100px);
    }
}


@media screen and (max-width:450px) {

    @media (orientation: portrait) {
        .profile-container {
            margin-top: 100px;
        }
        .profile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .profile-pic {
            min-width: 250px;
            min-height: 250px;
            width: 80vw;
            height: 80vw;
            
        }
        .link i{
            margin-right: 5px !important;
            
        }
        .profile-info {
            margin-top: 20px;
        }
        .profile b {
            font-size: calc(8vw + 10px);
        }
        .profile-tagline strong {
            font-size: calc(3vw + 8px);
        }
        .btn-about-me {
            width: calc(30vw + 50px);
            height: calc(2vw + 45px);
            line-height: calc(2vw + 45px);
            min-width: 160px;
            font-size: calc(0.4vw + 14px);
            text-align: center; 
        }
        .btn-about-me > svg {
            width: 28px;
        }
        .rainbow-hover {
            width: calc(30vw + 50px);
            height: calc(2vw + 45px);
            line-height: calc(2vw + 45px);
            min-width: 160px;
            font-size: calc(0.4vw + 14px);
            text-align: center;
        }
        .buttons{
            margin-top: 40px;
            gap: 15px;
            margin-bottom: 20px;
        }
        .link i{
            font-size: calc(2vw + 30px);
        }
        .line {
            width: calc(80vw + 40px);
        }
    }
   
    
}

